body {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    font-family: "Roboto", sans-serif;
}

p {
    text-align: justify;
    text-justify:distribute-all-lines;
    color:#E6E6E6;
    font-family: 'Trebuchet MS','Courier New', Courier, monospace;
    word-spacing: 1%;
    line-height: 150%;
}

p img {
    width: 15px;
}